---
---
@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif; 
}

header div a {
  height: 3rem;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 1rem;
  border-radius: 6px;
  
  &:hover, &.active {
    background-color: #f2f2f2;
    color: #069;
    font-weight: bold;
  }
  
  & span {
    padding-left: 1rem;
  }
  
  &:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }
}
